.active{
    background-color: #ccc;
    border-radius: 5px;
    font-weight:bolder ;
}
.navbar{
    margin: 1rem 0;
    .nav-link{
        padding: .2rem .3rem; 
        @media (min-width: 576px) { 
            padding: .5rem 0.5rem;
            font-size: 1.1rem; 
        }
    }

}

