.card{
    width: 20rem;
    @media (min-width: 576px) { 
        width: 30rem;
    }
    .card-body{
        display: flex;
        flex-flow: column;
        align-items: center;
        .card-title, .card-subtitle, .card-text{
            @media (min-width: 576px) { 
                font-size: 1.4rem;
                font-weight: bold;
            }     
        }
        .fav-buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .btn{
                font-size: 1rem;
                @media (min-width: 576px) { 
                    font-size: 1.2rem;
                }
            }
        }
    }
}